nav {
  display: flex;
  flex-flow: row nowrap;
  flex-basis: 40%;
  width: 100vw;
  justify-content: center;
  background-color: #cccccc;

  ul {
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    list-style: none;
  }

  li {
    padding: 16px;
  }
}
