.o-header {
  min-height: 100vh ;
  background-size: cover;
  position: relative;
}

.o-h-bg {
  max-height: 100vh;
  background: linear-gradient(rgba(0,0,0,.1), rgba(0,0,0,.1)), url("../img/bg-main.jpg") no-repeat center fixed;
  background-size: cover;
  z-index: -10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;

}


.o-header__body {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;

}