.o-header {
  min-height: 100vh ;
  background: url("../img/bg-main.jpg") no-repeat center ;
  background-size: cover;
}


.o-header__body {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;

}